#navbarNavAltMarkup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#containerNavBar{
    background-color: black;
}

#margenes{
    margin-left: 20px;
    margin-right: 20px;
}

#miNavBar{
    background-color: black !important;
}