.Busqueda{
  display: flex;
}

.icono {
  position: absolute;
  top: 20%;
  left: 4%;
  z-index: 1;
  color: black;
}

.rectangle {
  position: relative;
  width: 420px;
  height: 40px;
  border-radius: 50px;
  background-color: #adb5bd;
  margin-top: 45px;
  margin-left: 0px;
}

.textbox {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 20px;
  outline: none;
  background-color: #adb5bd;
  border-color: transparent;
  transition: border-bottom 1s;
}

.textbox:hover {
  border-bottom: 0.5px solid #6c757d;
}

.textbox:focus {
  border: none;
  border-bottom: 0.5px solid #6c757d;
  outline: none;
  background-color: #adb5bd;
  color: black;
}

.filtros {
  position: relative;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background-color: #adb5bd;
  margin-top: 45px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconoF {
  order: -1;
  margin-right: 5px;
}


.Vestidos {
  position: relative;
  top: 1rem;
}

.Accesorios {
  position: relative;
  top: 3rem;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}